@import "../util/tools";
@import "login";
//@import "edit-report";

body {
  margin: 0;
  padding: 0;
  //min-width: 80em;
  //height: 67.5em;
  background-image: $bg;
  background-repeat: no-repeat;
  background-size: 100%;
  //& > div {
  //  //display: inline-block;
  //  margin: 0;
  //  padding: 0 1em 0 1em;
  //
  //  vertical-align: middle;
  //  width: 100%;
  //  height: 100%;
  //}
}

header {

  h2 {
    display: inline-block;
    @include font-border(0.3em, red, 1.6em);
    padding: 0.4em;
    margin: 1em 1.8em;
    cursor: pointer;
    pointer-events: none;
  }
  span {
    color: lightsteelblue;
    font-size: 1.4em;
  }
  hr {
    border: 1px solid yellow;
    margin-top: -3px;
    margin-bottom: .5em;
  }
}

nav {
  ul {
    list-style: none;
    li {
      margin-top: .4em;
      display: inline-block;
      width: 9.5em;
      text-align: center;
      cursor: pointer;
      margin-right: .5em;
      @include font-border(0.3em, lightsteelblue, 1.5em);
      pointer-events: none;
    }
    //li:first-child{
    //  cursor: pointer;
    //}
  }
}

#user-information {
  display: none;

  float: right;
  margin-right: 5em;
  color: yellow;
  line-height: 4em;
  font-size: 1.5em;

  a {
    color: white;
    margin-left: 5em;
    text-decoration: none;
  }
}

#login-register {
  margin-right: 5em;
  display: inline-block;
  line-height: 6em;
  float: right;
  button{
    cursor: pointer;
    color: yellow;
    outline: none;
    border: none;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: transparent;
    line-height: normal;
    width: 4em;
    height: 2em;
    //outline: none;
    transition: 500ms;
    &:hover {
      opacity: 0.8;
      color: yellow;
      box-shadow: 0 0 10px 5px inset;
    }
    &:active {
      box-shadow: 0 0 10px 5px;
    }
  }
  .modal-body {
    label {
      font-size: 1.2em;
    }
    label + div {
      display: inline-block;
    }
    input {
      outline: none;
      background-color: lightgray;
      border: none;
      height: 2em;
      width: 18em;
      border-radius: 5px;
      transition: 500ms;
      &:focus {
        border: 2px solid lightskyblue;
      }
    }

    form {
      padding: 0 0 0 6em;
      & > div {
        height: 3.5em;
        margin-bottom: 1em;
      }
    }
    button:last-child {
      margin-left: 10em;
    }

  }
}

#login-modal-body {
  form {
    & > div:nth-of-type(2) {
      margin-left: 1.1em;
    }
  }

}

#register-modal-body {
  div:nth-of-type(n+2) {
    margin-left: 1.1em;
  }

}
