@import url(../css/bootstrap.min.css);
@keyframes liHover {
  from {
    -webkit-box-shadow: 0 0 25px #333; }
  50% {
    -webkit-box-shadow: 0 0 50px #91bd09; }
  to {
    -webkit-box-shadow: 0 0 25px #333; } }
#detail-report {
  display: none;
  width: 80%;
  height: 30em;
  border: 2px dashed orange;
  padding: 4em 4em 4em 0;
  margin-left: 3em;
  font-size: 1.2em; }
  #detail-report div#detail-report-month {
    background-color: transparent;
    color: yellow;
    width: 80%;
    height: 50%;
    margin: 1em auto; }
    #detail-report div#detail-report-month div:nth-of-type(1) {
      width: 100%; }
      #detail-report div#detail-report-month div:nth-of-type(1) table {
        text-align: center;
        border: none;
        width: 100%; }
        #detail-report div#detail-report-month div:nth-of-type(1) table td {
          font-weight: bold;
          border-bottom: 1px solid white; }
        #detail-report div#detail-report-month div:nth-of-type(1) table td:nth-of-type(1) {
          width: 7em; }
        #detail-report div#detail-report-month div:nth-of-type(1) table td:nth-of-type(n+2) {
          width: 5em; }
        #detail-report div#detail-report-month div:nth-of-type(1) table td:last-child {
          width: 7em; }
    #detail-report div#detail-report-month div:nth-of-type(2) {
      overflow: auto;
      width: 100%;
      height: 90%; }
      #detail-report div#detail-report-month div:nth-of-type(2) table {
        text-align: center;
        border: none;
        width: 100%;
        margin: 0 auto; }
        #detail-report div#detail-report-month div:nth-of-type(2) table tr {
          border: none;
          height: 2em; }
          #detail-report div#detail-report-month div:nth-of-type(2) table tr td {
            border-top: 1px solid white;
            border-right: 1px solid white; }
          #detail-report div#detail-report-month div:nth-of-type(2) table tr td:nth-of-type(1) {
            width: 7em; }
          #detail-report div#detail-report-month div:nth-of-type(2) table tr td:nth-of-type(n+2) {
            width: 5em; }
          #detail-report div#detail-report-month div:nth-of-type(2) table tr td:last-child {
            width: 7em; }
  #detail-report div#detail-report-stock {
    background-color: transparent;
    color: yellow;
    padding: 0;
    width: 95%;
    height: 40%;
    margin: auto;
    margin-top: 2em; }
    #detail-report div#detail-report-stock div:nth-of-type(1) {
      width: 100%; }
      #detail-report div#detail-report-stock div:nth-of-type(1) table {
        border: none;
        width: 100%; }
        #detail-report div#detail-report-stock div:nth-of-type(1) table td {
          font-weight: bold;
          border-bottom: 1px solid white; }
        #detail-report div#detail-report-stock div:nth-of-type(1) table td:first-child {
          padding: 0 0 0 2em; }
        #detail-report div#detail-report-stock div:nth-of-type(1) table td:nth-of-type(2) {
          padding: 0 0 0 33em; }
        #detail-report div#detail-report-stock div:nth-of-type(1) table td:last-child {
          text-align: right; }
    #detail-report div#detail-report-stock div:nth-of-type(2) {
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      height: 90%; }
      #detail-report div#detail-report-stock div:nth-of-type(2) table {
        text-align: center;
        border: none;
        width: 100%;
        margin: 0 auto;
        table-layout: fixed; }
        #detail-report div#detail-report-stock div:nth-of-type(2) table tr {
          border: none;
          width: 100%; }
          #detail-report div#detail-report-stock div:nth-of-type(2) table tr td {
            padding: 0;
            border-top: 1px solid white;
            border-right: 1px solid white;
            word-wrap: break-word;
            -ms-word-wrap: break-word;
            -webkit-word-wrap: break-word; }
          #detail-report div#detail-report-stock div:nth-of-type(2) table tr td:first-child {
            width: 10em; }
          #detail-report div#detail-report-stock div:nth-of-type(2) table tr td:last-child {
            width: 8em; }

#edit-model {
  display: none;
  width: 90%;
  height: 30em;
  border: 2px dashed orange;
  font-size: 1.2em;
  color: yellow; }
  #edit-model #edit-model-chart {
    margin: auto;
    width: 1400px;
    height: 400px; }
  #edit-model p {
    text-align: center;
    margin: auto; }
  #edit-model select {
    width: 10em;
    height: 2em;
    margin: auto; }
  #edit-model > div:nth-of-type(3) {
    width: 70%;
    height: 10%;
    margin: auto;
    margin-top: 2em; }
    #edit-model > div:nth-of-type(3) table {
      width: 100%;
      height: 100%;
      border: 1px solid lightsteelblue; }
      #edit-model > div:nth-of-type(3) table th, #edit-model > div:nth-of-type(3) table tr, #edit-model > div:nth-of-type(3) table td {
        border: 1px solid lightsteelblue; }
      #edit-model > div:nth-of-type(3) table td {
        text-align: center; }
  #edit-model > div:nth-of-type(4) {
    background-color: transparent;
    height: 30%;
    width: 80%;
    margin: 1em auto; }
    #edit-model > div:nth-of-type(4) div:nth-of-type(1) {
      width: 100%; }
      #edit-model > div:nth-of-type(4) div:nth-of-type(1) table {
        text-align: center;
        border: none;
        width: 100%; }
        #edit-model > div:nth-of-type(4) div:nth-of-type(1) table td {
          font-weight: bold;
          border-bottom: 1px solid white; }
        #edit-model > div:nth-of-type(4) div:nth-of-type(1) table td:nth-of-type(1) {
          width: 7em; }
        #edit-model > div:nth-of-type(4) div:nth-of-type(1) table td:nth-of-type(n+2) {
          width: 5em; }
        #edit-model > div:nth-of-type(4) div:nth-of-type(1) table td:last-child {
          width: 7em; }
    #edit-model > div:nth-of-type(4) div:nth-of-type(2) {
      overflow: auto;
      width: 100%;
      height: 90%; }
      #edit-model > div:nth-of-type(4) div:nth-of-type(2) table {
        text-align: center;
        border: none;
        width: 100%;
        margin: 0 auto; }
        #edit-model > div:nth-of-type(4) div:nth-of-type(2) table tr {
          border: none;
          height: 2em; }
          #edit-model > div:nth-of-type(4) div:nth-of-type(2) table tr td {
            border-top: 1px solid white;
            border-right: 1px solid white; }
          #edit-model > div:nth-of-type(4) div:nth-of-type(2) table tr td:nth-of-type(1) {
            width: 7em; }
          #edit-model > div:nth-of-type(4) div:nth-of-type(2) table tr td:nth-of-type(n+2) {
            width: 5em; }
          #edit-model > div:nth-of-type(4) div:nth-of-type(2) table tr td:last-child {
            width: 7em; }
  #edit-model > div:nth-of-type(5) {
    background-color: transparent;
    padding: 0;
    width: 95%;
    height: 30%;
    margin: auto;
    margin-top: 2em; }
    #edit-model > div:nth-of-type(5) div:nth-of-type(1) {
      width: 100%; }
      #edit-model > div:nth-of-type(5) div:nth-of-type(1) table {
        border: none;
        width: 100%; }
        #edit-model > div:nth-of-type(5) div:nth-of-type(1) table td {
          font-weight: bold;
          border-bottom: 1px solid white; }
        #edit-model > div:nth-of-type(5) div:nth-of-type(1) table td:first-child {
          padding: 0 0 0 2em; }
        #edit-model > div:nth-of-type(5) div:nth-of-type(1) table td:nth-of-type(2) {
          padding: 0 0 0 33em; }
        #edit-model > div:nth-of-type(5) div:nth-of-type(1) table td:last-child {
          text-align: right; }
    #edit-model > div:nth-of-type(5) div:nth-of-type(2) {
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      height: 90%; }
      #edit-model > div:nth-of-type(5) div:nth-of-type(2) table {
        text-align: center;
        border: none;
        width: 100%;
        margin: 0 auto;
        table-layout: fixed; }
        #edit-model > div:nth-of-type(5) div:nth-of-type(2) table tr {
          border: none;
          width: 100%; }
          #edit-model > div:nth-of-type(5) div:nth-of-type(2) table tr td {
            padding: 0;
            border-top: 1px solid white;
            border-right: 1px solid white;
            word-wrap: break-word;
            -ms-word-wrap: break-word;
            -webkit-word-wrap: break-word; }
          #edit-model > div:nth-of-type(5) div:nth-of-type(2) table tr td:first-child {
            width: 10em; }
          #edit-model > div:nth-of-type(5) div:nth-of-type(2) table tr td:last-child {
            width: 8em; }

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/modelBg.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }
  body > div {
    margin: 0;
    padding: 0 1em 0 1em;
    vertical-align: middle;
    width: 100%;
    height: 100%; }

header h2 {
  display: inline-block;
  border: 1px solid red;
  padding: 0.3em;
  color: red;
  font-size: 1.6em;
  transition: 500ms;
  padding: 0.4em;
  margin: 1em 1.8em;
  cursor: pointer;
  pointer-events: none; }
  header h2:hover {
    background-color: rgba(255, 165, 0, 0.6); }
header span {
  color: lightsteelblue;
  font-size: 1.4em; }
header hr {
  border: 1px solid yellow;
  margin-top: -3px;
  margin-bottom: .5em; }

nav ul {
  list-style: none; }
  nav ul li {
    margin-top: .4em;
    display: inline-block;
    width: 9.5em;
    text-align: center;
    cursor: pointer;
    margin-right: .5em;
    border: 1px solid lightsteelblue;
    padding: 0.3em;
    color: lightsteelblue;
    font-size: 1.5em;
    transition: 500ms;
    pointer-events: none; }
    nav ul li:hover {
      background-color: rgba(255, 165, 0, 0.6); }

#user-information {
  display: none;
  float: right;
  margin-right: 5em;
  color: yellow;
  line-height: 4em;
  font-size: 1.5em; }
  #user-information a {
    color: white;
    margin-left: 5em;
    text-decoration: none; }

#login-register {
  margin-right: 5em;
  display: inline-block;
  line-height: 6em;
  float: right; }
  #login-register button {
    color: yellow;
    outline: none;
    border: none;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: transparent;
    line-height: normal;
    width: 4em;
    height: 2em;
    transition: 500ms; }
    #login-register button:hover {
      opacity: 0.8;
      color: yellow;
      box-shadow: 0 0 10px 5px inset; }
    #login-register button:active {
      box-shadow: 0 0 10px 5px; }
  #login-register .modal-body label {
    font-size: 1.2em; }
  #login-register .modal-body label + div {
    display: inline-block; }
  #login-register .modal-body input {
    outline: none;
    background-color: lightgray;
    border: none;
    height: 2em;
    width: 18em;
    border-radius: 5px;
    transition: 500ms; }
    #login-register .modal-body input:focus {
      border: 2px solid lightskyblue; }
  #login-register .modal-body form {
    padding: 0 0 0 6em; }
    #login-register .modal-body form > div {
      height: 3.5em;
      margin-bottom: 1em; }
  #login-register .modal-body button:last-child {
    margin-left: 10em; }

#login-modal-body form > div:nth-of-type(2) {
  margin-left: 1.1em; }

#register-modal-body div:nth-of-type(n+2) {
  margin-left: 1.1em; }

/*# sourceMappingURL=main.css.map */
